{% extends 'base.html' %}

{% block title %}<title>{{ item.name }}</title>{% endblock %}

{% block content %}

    <section>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h3>Название: {{ item.name }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Описание: {{ item.description }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Цена: {{ item.price }} {{ item.currency|upper }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" id="add-button" class="btn btn-primary">Buy</button>
                    <button type="button" id="checkout-button" class="btn btn-primary"> 
                        {% if count_order != null %}
                            Заказать {{ count_order }}
                        {% else %}
                            В корзине пусто
                        {% endif %}
                    </button>
                    <p id="error"></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript">
    var stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");
    var addButton = document.getElementById("add-button");
    var checkoutButton = document.getElementById("checkout-button");

    addButton.addEventListener("click", () => {
        fetch("{% url 'add-to-cart' item.id %}", {
            method: "GET"
        })
        .then(response => {
            return response.json();
        })
        .then(session => {
            console.log(session.status)

            // Для обновления количества товаров на кнопке корзины
            window.location.reload();
        })

    });

    checkoutButton.addEventListener("click", () => {
        fetch("{% url 'create-checkout-session' %}", {
            method: "GET"
        })
        .then(response => {
            return response.json();
        })
        .then(session => {
            if(session.error) {
                document.getElementById("error").textContent = session.error;
                return 0;
            }

            if(!session.id) {
                document.getElementById("error").textContent = 'В корзине пусто';
                return 0;
            }
            return stripe.redirectToCheckout({sessionId: session.id});
        });
    });
</script>
{% endblock %}